@-webkit-keyframes updown
{
    0%, 100%
    {
        -webkit-transform: translate3d(0, 0, 0);
    }
    50%
    {
        -webkit-transform: translate3d(0, 10px, 0);
    }
}


@keyframes updown
{
    0%, 100%
    {
        transform: translate3d(0, 0, 0);
    }
    50%
    {
        transform: translate3d(0, 10px, 0);
    }
}