@-webkit-keyframes ani_bigsmall
{
    0%, 100%
    {
        -webkit-transform: scale3d(1, 1, 1);
    }
    50%
    {
        -webkit-transform: scale3d(0.8, 0.8, 1);
    }
}


@keyframes ani_bigsmall
{
    0%, 100%
    {
        transform: scale3d(1, 1, 1);
    }
    50%
    {
        transform: scale3d(0.8, 0.8, 1);
    }
}