@-webkit-keyframes tada
{
    0%
    {
        -webkit-transform: scale3d(1, 1, 1);
    }
    10%, 20%
    {
        -webkit-transform: scale3d(0.9, 0.9, 1) rotate3d(0, 0, 1, -3deg);
    }
    30%, 50%, 70%, 90%
    {
        -webkit-transform: scale3d(1.1, 1.1, 1) rotate3d(0, 0, 1, 3deg);
    }
    40%, 60%, 80%
    {
        -webkit-transform: scale3d(1.1, 1.1, 1) rotate3d(0, 0, 1, -3deg);
    }
    100%
    {
        -webkit-transform: scale3d(1, 1, 1);
    }
}


@keyframes tada
{
    0%
    {
        transform: scale3d(1, 1, 1);
    }
    10%, 20%
    {
        transform: scale3d(0.9, 0.9, 1) rotate3d(0, 0, 1, -3deg);
    }
    30%, 50%, 70%, 90%
    {
        transform: scale3d(1.1, 1.1, 1) rotate3d(0, 0, 1, 3deg);
    }
    40%, 60%, 80%
    {
        transform: scale3d(1.1, 1.1, 1) rotate3d(0, 0, 1, -3deg);
    }
    100%
    {
        transform: scale3d(1, 1, 1);
    }
}