/*元素*/
*:focus
{
    outline: none;
}

*, *:before, *:after
{
    margin: 0;
    padding: 0;
    @extend %ph_border-box; /*将元素的padding,border也纳入宽度,相当于IE5的盒子模型*/
}

body
{
    background-color: $panel_bgcolor; /*加背景色可减缓页面闪烁*/
    /*可继承*/
    color: $color;
    line-height: 1.5em;
    font-size: $font-size;
    -webkit-text-size-adjust: none;
    @include mx_user-select(none); /*禁止选中文本*/
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0); /*部分浏览器点选时会有淡蓝色框,这样可以去掉*/
    -webkit-touch-callout: none; /*禁止保存图片*/
}

input, textarea
{
    @include mx_user-select(text);
    color: $color;
}

img, input
{
    vertical-align: middle;
}

img
{
    border: none;
}

a
{
    outline: none;
    color: $color;
    text-decoration: none;
    cursor: pointer;
}

a.focus
{
    color: $color_focus;
}

li
{
    list-style: none;
}

/*h类标签*/
$hx: (h1: 1.45em, h2: 1.3em, h3: 1.15em, h4: 1em);
@each $h, $size in $hx
{
    #{$h}
    {
        font-size: $size;
    }
}

/*类*/
/*btn*/
.btn
{
    display: inline-block;
    line-height: 2em;
    min-width: 5.5em;
    padding: 0 1.25em;
    border-radius: 0.5em;
    font-size: 1.15em;
    text-align: center;
    @include mx_box-shadow(0 0 1px rgba(0, 0, 0, 0.9));
    background-color: #f8f8f8;

    &.focus
    {
        background-color: #eee;
    }
}

/*隐藏*/
.hidden
{
    display: none !important;
}

/*显示*/
.show
{
    display: block !important;
}

.fade-out, .fade-in
{
    @extend %ph_transall;
}

/*渐隐*/
.fade-out
{
    visibility: hidden;
    opacity: 0;
}

/*渐显*/
.fade-in
{
    visibility: visible;
    opacity: 1;
}

/*float*/
.fl
{
    float: left;
}

.fr
{
    float: right;
}

/*居中*/
.center
{
    text-align: center;
}

/*定位*/
.absolute
{
    @extend %ph_palt;
}

.fixed
{
    @extend %ph_pflt;
}

/*动画*/
.transition
{
    @extend %ph_transall;
}

.transform
{
    @extend %ph_transtransf;
}

.notrans
{
    @include mx_transition(none !important);
}

/*滚动*/
.ofauto
{
    @extend %ph_ofauto;
}

/*重排类*/
.reflow
{
    padding-bottom: 1px;
}