/*iconmoon*/
@font-face
{
    font-family: iconmoon;
    src: url('data:application/x-font-woff;charset=utf-8;base64,
    AAEAAAALAIAAAwAwT1MvMg8SAysAAAC8AAAAYGNtYXAaVcxYAAABHAAAAExnYXNwAAAAEAAAAWgA
AAAIZ2x5ZvwFkJgAAAFwAAABNGhlYWQFBe7SAAACpAAAADZoaGVhB20DxwAAAtwAAAAkaG10eAoA
AVoAAAMAAAAAGGxvY2EAwgBaAAADGAAAAA5tYXhwAAoAOwAAAygAAAAgbmFtZVcZpu4AAANIAAAB
RXBvc3QAAwAAAAAEkAAAACAAAwQAAZAABQAAApkCzAAAAI8CmQLMAAAB6wAzAQkAAAAAAAAAAAAA
AAAAAAABEAAAAAAAAAAAAAAAAAAAAABAAADmAQPA/8AAQAPAAEAAAAABAAAAAAAAAAAAAAAgAAAA
AAACAAAAAwAAABQAAwABAAAAFAAEADgAAAAKAAgAAgACAAEAIOYB//3//wAAAAAAIOYA//3//wAB
/+MaBAADAAEAAAAAAAAAAAAAAAEAAf//AA8AAQAAAAAAAAAAAAIAADc5AQAAAAABAAAAAAAAAAAA
AgAANzkBAAAAAAEAAAAAAAAAAAACAAA3OQEAAAAAAQEFAB8CxwN7ABMAACUWFAcOAScBJjQ3ATYy
FxYUBwkBAscLCwodCv5vCwsBkQodCgsL/pMBbVEKHgoKAQsBlQodCwGVCgoLHQr+hP6EAAADAFUA
gAOrAtUAEgAlADgAABMhMhcWFRQHBiMhIicmNTQ3NjMRITIXFhUUBwYjISInJjU0NzYzESEyFxYV
FAcGIyEiJyY1NDc2M4ADABIMDQ0MEv0AEgwNDQwSAwASDA0NDBL9ABIMDQ0MEgMAEgwNDQwS/QAS
DA0NDBIC1QwNERINDAwNEhENDP4ADA0REg0MDA0SEQ0MAQAMDRESDQwMDRIRDQwAAAABAAAAAAAA
FqQjNF8PPPUACwQAAAAAANEe1S0AAAAA0R7VLQAAAAADqwN7AAAACAACAAAAAAAAAAEAAAPA/8AA
AAQAAAAAAAOrAAEAAAAAAAAAAAAAAAAAAAAGAAAAAAAAAAAAAAAAAgAAAAQAAQUEAABVAAAAAAAK
ABQAHgBGAJoAAAABAAAABgA5AAMAAAAAAAIAAAAAAAAAAAAAAAAAAAAAAAAADgCuAAEAAAAAAAEA
DgAAAAEAAAAAAAIADgBHAAEAAAAAAAMADgAkAAEAAAAAAAQADgBVAAEAAAAAAAUAFgAOAAEAAAAA
AAYABwAyAAEAAAAAAAoANABjAAMAAQQJAAEADgAAAAMAAQQJAAIADgBHAAMAAQQJAAMADgAkAAMA
AQQJAAQADgBVAAMAAQQJAAUAFgAOAAMAAQQJAAYADgA5AAMAAQQJAAoANABjAGkAYwBvAG0AbwBv
AG4AVgBlAHIAcwBpAG8AbgAgADEALgAwAGkAYwBvAG0AbwBvAG5pY29tb29uAGkAYwBvAG0AbwBv
AG4AUgBlAGcAdQBsAGEAcgBpAGMAbwBtAG8AbwBuAEYAbwBuAHQAIABnAGUAbgBlAHIAYQB0AGUA
ZAAgAGIAeQAgAEkAYwBvAE0AbwBvAG4ALgAAAAADAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
AAAA') format('truetype');
    font-weight: normal;
    font-style: normal;
}


[class^='icon-']:before, [class*=' icon-']:before, [class^='icon-']:after, [class*=' icon-']:after
{
    font-family: iconmoon;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
}


.icon-left:before
{
    content: '\e600';
}


.icon-menu:before
{
    content: '\e601';
}