/*分享图标*/
#share_list
{
    $height: 50px;
    text-align: center;
    font-size: 0;

    a
    {
        display: inline-block;
        width: $height;
        height: $height;
        vertical-align: middle;
        border-radius: $height * 0.2;
        margin: 8px;
        position: relative;

        &:after
        {
            content: '';
            @extend %ph_palt;
            @extend %ph_full;
            background: url(../src/images/icon_share.png);
            background-size: auto $height;
            border-radius: $height * 0.2;
        }

        &.focus
        {
            background: #000;

            &:after
            {
                opacity: 0.5;
            }
        }
    }

    $providers: weibosina, qq, renren, tieba, tqq, douban, kaixin001, netease;
    @each $provider in $providers
    {
        .#{$provider}:after
        {
            background-position: #{ -$height * (index($providers, $provider) - 1)} 0;
        }
    }
}