/*
logding样式
*/

/*变量*/
$spinner_color: $color !default;

/*spinner loading*/
.spinner
{
    /*容器宽度*/
    $cw: 50px;

    display: inline-block;
    position: relative;
    width: $cw;
    height: $cw;
    @include mx_animation(ani_circle 1s ease infinite);

    &:before
    {
        /*点宽度*/
        $dw: 10px;
        /*负数*/
        $neg: ($cw - $dw) / 2;
        /*负数1*/
        $neg1: $neg * 0.7;

        content: '';
        @include mx_plt($left: 50%, $top: 50%);
        width: $dw;
        height: $dw;
        margin-left: -$dw / 2;
        margin-top: -$dw / 2;
        border-radius: $dw;
        /*8个圆点用阴影生成*/
        @include mx_box-shadow(0 (-$neg) 0 rgba($spinner_color, 1),
                        (-$neg1) (-$neg1) 0 rgba($spinner_color, 0.875),
                        (-$neg) 0 0 rgba($spinner_color, 0.75),
                        (-$neg1) $neg1 0 rgba($spinner_color, 0.625),
                0 $neg 0 rgba($spinner_color, 0.5),
                $neg1 $neg1 0 rgba($spinner_color, 0.375),
                $neg 0 0 rgba($spinner_color, 0.25),
                $neg1 (-$neg1) 0 rgba($spinner_color, 0.125));
    }
}


/*旋转动画*/
@-webkit-keyframes ani_circle
{
    0%
    {
        -webkit-transform: rotateZ(0deg);
    }

    100%
    {
        -webkit-transform: rotateZ(360deg);
    }
}


@keyframes ani_circle
{
    0%
    {
        transform: rotateZ(0deg);
    }

    100%
    {
        transform: rotateZ(360deg);
    }
}