/*
var
变量scss
包含默认变量,常用函数,常用点位符(全是sass运算相关的东西)
*/

/*默认变量*/
/*字体*/
$font-size: 14px !default;
$color: #333 !default;
$color_focus: #df2221 !default;

/*布局*/
$head_height: 40px !default;
$navbar_height: 50px !default;

/*默认为1:纯色背景,2:渐变背景*/
$bg_type: 1 !default;
/*导航条背景*/
$head_bgcolor: rgba(255, 255, 255, 0.9) !default;
$head_bg: #006c1a 0%, #04990e 100% !default;
/*边框颜色*/
$head_border-color: rgba(128, 128, 128, 0.5) !default;

/*页面背景*/
$panel_bgcolor: #fff !default;

/*混入*/
/*定位*/
@mixin mx_plt($position: absolute, $left: 0, $top: 0) {
    position: $position;
    left: $left;
    top: $top;
}


@mixin mx_plb($position: absolute, $left: 0, $bottom: 0) {
    position: $position;
    left: $left;
    bottom: $bottom;
}


@mixin mx_prt($position: absolute, $right: 0, $top: 0) {
    position: $position;
    right: $right;
    top: $top;
}


@mixin mx_prb($position: absolute, $right: 0, $bottom: 0) {
    position: $position;
    right: $right;
    bottom: $bottom;
}


/*transition*/
@mixin mx_transition($value) {
    -webkit-transition: $value;
    transition: $value;
}


@mixin mx_transition-duration($value) {
    -webkit-transition-duration: $value;
    transition-duration: $value;
}


@mixin mx_transition-delay($value) {
    -webkit-transition-delay: $value;
    transition-delay: $value;
}


@mixin mx_transition-transform($value...) {
    -webkit-transition: -webkit-transform $value;
    transition: transform $value;
}


/*transform*/
@mixin mx_transform($value) {
    -webkit-transform: $value;
    transform: $value;
}


/*transform-origin*/
@mixin mx_transform-origin($value) {
    -webkit-transform-origin: $value;
    transform-origin: $value;
}


/*animation*/
@mixin mx_animation($value) {
    -webkit-animation: $value;
    animation: $value;
}


/*渐变背景*/
@mixin mx_gradient($value...) {
    background-image: -webkit-linear-gradient($value); /*安卓4.0-4.4*/
    background-image: linear-gradient($value); /*css3标准*/
}


@mixin mx_radial-gradient($value...) {
    background-image: -webkit-radial-gradient($value); /*安卓4.0-4.4*/
    background-image: radial-gradient($value); /*css3标准*/
}


/*backface-visibility*/
@mixin mx_backface-visibility($value) {
    /*防止动画过程闪烁*/
    -webkit-backface-visibility: $value;
    backface-visibility: $value;
}


/*perspective*/
@mixin mx_perspective($value) {
    -webkit-perspective: $value;
    perspective: $value;
}


/*盒子阴影*/
@mixin mx_box-shadow($value...) {
    -webkit-box-shadow: $value;
    box-shadow: $value;
}


/*user-select*/
@mixin mx_user-select($value) {
    -webkit-user-select: $value;
    user-select: $value;
}


/*box-sizing*/
@mixin mx_box-sizing($value) {
    -webkit-box-sizing: $value;
    box-sizing: $value;
}


/*行高与高度相同*/
@mixin mx_line-height($value) {
    height: $value;
    line-height: $value;
}


/*1px边框*/
@mixin mx_ptborder($style: solid, $color: #ccc, $trbl: none) {
    position: relative;

    &:before
    {
        content: '';
        @extend %ph_palt;
        width: 200%;
        height: 200%;
        @if $trbl != none
        {
            border-#{$trbl}: 1px $style $color;
        } @else
        {
            border: 1px $style $color;
        }
        @include mx_transform(scale3d(0.5, 0.5, 1));
        @include mx_transform-origin(0 0);
        z-index: 0;
    }

    & > *
    {
        position: relative;
        z-index: 1;
    }
}


/*滤镜*/
@mixin mx_filter($value) {
    -webkit-filter: $value;
    filter: $value;
}


/*占位符*/
/*滚动*/
%ph_ofauto
{
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}


/*定位*/
%ph_palt
{
    @include mx_plt;
}


%ph_pflt
{
    @include mx_plt(fixed);
}


%ph_part
{
    @include mx_prt;
}


%ph_pfrt
{
    @include mx_prt(fixed);
}


%ph_palb
{
    @include mx_plb;
}


%ph_pflb
{
    @include mx_plb(fixed);
}


%ph_parb
{
    @include mx_prb;
}


%ph_pfrb
{
    @include mx_prb(fixed);
}


/*宽度高度100%*/
%ph_full
{
    width: 100%;
    height: 100%;
}


/*表格单元格*/
%ph_td
{
    display: table-cell;
    vertical-align: middle;
    line-height: normal;
}


/*高度自动撑高*/
%ph_hauto
{
    height: auto;
    overflow: hidden;
}


/*all动画*/
%ph_transall
{
    @include mx_transition(all 0.3s ease);
}


/*transform动画*/
%ph_transtransf
{
    @include mx_transition-transform(0.3s ease);
}


/*visible*/
%ph_visible
{
    visibility: visible;
    opacity: 1;
}


/*hidden*/
%ph_hidden
{
    visibility: hidden;
    opacity: 0;
}


/*border-box*/
%ph_border-box
{
    @include mx_box-sizing(border-box);
}


/*content-box*/
%ph_content-box
{
    @include mx_box-sizing(content-box);
}


/*1px边框*/
%ph_ptborder
{
    @include mx_ptborder;
}


/*垂直居中*/
%ph_center
{
    display: -webkit-box;
    -webkit-box-align: center;
    -webkit-box-pack: center;
    -ms-text-algin: center;
}