//var
//移动端变量scss
//包含默认变量,常用函数,常用点位符(全是sass运算相关的东西)
//本文件中用//注释,可使生成文件中不包含注释信息

//混入
//定位
@mixin mx_plt($position: absolute, $left: 0, $top: 0) {
    position: $position;
    left: $left;
    top: $top;
}


@mixin mx_plb($position: absolute, $left: 0, $bottom: 0) {
    position: $position;
    left: $left;
    bottom: $bottom;
}


@mixin mx_prt($position: absolute, $right: 0, $top: 0) {
    position: $position;
    right: $right;
    top: $top;
}


@mixin mx_prb($position: absolute, $right: 0, $bottom: 0) {
    position: $position;
    right: $right;
    bottom: $bottom;
}


//渐变背景
@mixin mx_gradient($value...) {
    background-image: -webkit-linear-gradient($value); /*安卓4.0-4.4*/
    background-image: linear-gradient($value); /*css3标准*/
}


@mixin mx_radial-gradient($value...) {
    background-image: -webkit-radial-gradient($value); /*安卓4.0-4.4*/
    background-image: radial-gradient($value); /*css3标准*/
}


//1px边框
@mixin mx_ptborder($style: solid, $color: #ccc, $trbl: none) {
    position: relative;

    &:before
    {
        content: '';
        @extend %ph_palt;
        width: 200%;
        height: 200%;
        @if $trbl != none
        {
            border-#{$trbl}: 1px $style $color;
        } @else
        {
            border: 1px $style $color;
        }
        transform: scale3d(0.5, 0.5, 1);
        transform-origin: 0 0;
        z-index: 0;
    }

    & > *
    {
        position: relative;
        z-index: 1;
    }
}


//margin居中
@mixin mx_margin-center($width: -1, $height: -1) {
    left: 50%;
    top: 50%;
    @if ($width != -1)
    {
        width: $width;
        margin-left: -$width/2;
    }
    @if ($height != -1)
    {
        height: $height;
        margin-top: -$height/2;
    }
}


//最大宽度
@mixin mx_maxwidth($width: 300px, $target-width: 320px) {
    width: $width / $target-width * 100%;
    min-width: $width;
    max-width: $width * 2;
    margin-left: auto;
    margin-right: auto;
}


//左边箭头
@mixin mx_left-arrow($width: 14px, $deg: 0deg, $color: #000, $line-width: 1px, $color-focus: 0) {
    width: $width;
    height: $width;
    box-shadow: (-$line-width) (-$line-width) 0 $color;
    transform: rotateZ(-45deg + $deg);

    @if ($color-focus != 0)
    {
        &.focus
        {
            box-shadow: (-$line-width) (-$line-width) 0 $color-focus;
        }
    }
}


//占位符
//滚动
%ph_ofauto
{
    overflow: auto;
    overflow-scrolling: touch;
}


//定位
%ph_palt
{
    @include mx_plt;
}


%ph_pflt
{
    @include mx_plt(fixed);
}


%ph_part
{
    @include mx_prt;
}


%ph_pfrt
{
    @include mx_prt(fixed);
}


%ph_palb
{
    @include mx_plb;
}


%ph_pflb
{
    @include mx_plb(fixed);
}


%ph_parb
{
    @include mx_prb;
}


%ph_pfrb
{
    @include mx_prb(fixed);
}


//宽度高度100%
%ph_full
{
    width: 100%;
    height: 100%;
}


//定位方式的宽度高度100%
%ph_pfull
{
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
}


//绝对定位
%ph_absolute
{
    position: absolute;
}


//fixed定位
%ph_fixed
{
    position: fixed;
}


//绝对定位宽度高度100%
%ph_pafull
{
    @extend %ph_absolute;
    @extend %ph_pfull;
}


//fixed定位宽度高度100%
%ph_pffull
{
    @extend %ph_fixed;
    @extend %ph_pfull;
}


//表格单元格
%ph_td
{
    display: table-cell;
    vertical-align: middle;
    line-height: normal;
}


//高度自动撑高
%ph_hauto
{
    height: auto;
    overflow: hidden;
}


//1px边框(全边框)
%ph_ptborder
{
    @include mx_ptborder;
}


//垂直居中
%ph_center
{
    display: -webkit-box;
    -webkit-box-align: center;
    -webkit-box-pack: center;

    //display: box;
    //box-align: center;
    //box-pack: center;
}