/*焦点图 panel*/
#carousel
{
    .carousel
    {
        width: 90%;
        min-width: 300px;
        margin: 0 auto;

        a
        {
            height: 300px;
            position: relative;
            @extend .ani_loading;

            p
            {
                @extend %ph_full;
            }
        }

        &.vertical
        {
            height: 300px;
        }
    }

    @at-root
    {
        #img_car
        {
            width: 90%;
            min-width: 300px;
            margin: 0 auto;

            img
            {
                width: 100%;
            }
        }
    }
}