/*sidebox panel*/
//引入
@import "../../../../scss/login";


#sidebox
{
    @at-root
    {
        /*未登陆*/
        .tologin
        {
            width: 80%;
            min-width: 210px;
            max-width: 510px;
            margin: 0 auto;

            & > *
            {
                margin-top: 15px;
            }

            .sohulogo
            {
                $h: 110px;
                display: inline-block;
                width: $h;
                height: $h;
                border-radius: $h;
                @include mx_box-shadow(0 0 3px rgba(0, 0, 0, 0.3));
                position: relative;

                &:after
                {
                    content: '';
                    @extend %ph_palt;
                    @extend %ph_full;
                    background: url(http://img.gd.sohu.com/static/v1/images/sohulogo.jpg);
                    background-size: cover;
                    border-radius: $h;
                }

                &.focus
                {
                    background: #000;

                    &:after
                    {
                        opacity: 0.5;
                    }
                }
            }

            .icon_userid:before, .icon_password:before
            {
                font-size: 20px;
                vertical-align: middle;
                //line-height: 32px;
            }

            .other_login
            {
                margin-bottom: 15px;
            }

            input
            {
                width: 85%;
                background-color: transparent;
                border-style: none;
                border-bottom-style: solid;
            }

            @at-root
            {
                #btn_login
                {
                    width: 100%;
                }
            }
        }
    }
}