/*项目基础样式*/
//变量
$border-color: rgba(#000, 0.1);

/*表单输入元素*/
input, select, textarea
{
    border-radius: 0;
    border: 1px solid $border-color;
    background-color: rgba(0, 0, 0, 0.1);

    &[disabled]
    {
        opacity: 0.5;
    }
}


/*placeholder的颜色*/
::-webkit-input-placeholder
{
    color: #888;
}


textarea
{
    height: 1rem;
}


/*导航*/
.navlist
{
    a
    {
        padding: 0 0.5em;

        &.selected
        {
            border-bottom: 2px solid $color-focus;
            color: $color-focus;
        }
    }

}


/*说明*/
.info
{
    padding: 0.2rem 0.2rem 0 4em;
    position: relative;

    &:before
    {
        content: '说明：';
        @include mx_plt($left: 0.2rem, $top: 0.2rem);
        font-weight: bold;
    }
}


/*列表*/
.list
{
    padding: 0.2rem;

    a
    {
        display: block;
        padding: 0.2rem 0.1rem;
        position: relative;
        border-bottom: 1px solid $border-color;

        p
        {
            color: #888;
            padding-left: 2em;
        }

        &.title
        {
            background: #eee;
            font-weight: bold;
        }

        &:first-of-type
        {
            border-top: 1px solid $border-color;
        }
    }
}


h3.center
{
    position: relative;
    margin-top: 0.2rem;
    border-top: 1px solid $border-color;
}
html{
    font-size:60px;
}