/*扇形特效 panel*/
//引入
@import "../../../../plugin/swatchbook";


#swatchbook
{
    .swatchbook
    {
        color: #fff;
        text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
        font-weight: bold;
        text-align: center;
        margin: 10px auto;
    }

    /*每张扇页*/
    .sb-item
    {
        @include mx_box-shadow(-1px -1px 3px rgba(0, 0, 0, 0.1), 3px 3px 3px rgba(0, 0, 0, 0.2), inset 0 3px 0 rgba(255, 255, 255, 0.2));

        & h3
        {
            border-top: 1px dashed rgba(0, 0, 0, 0.2);
            border-bottom: 1px dashed rgba(0, 0, 0, 0.2);
            padding: 5px;
            margin: 5px;
            font-size: 12px;
        }

        //循环赋值颜色
        $colors: #ea2a29, #f16729, #f89322, #ffcf14, #ffea0d, #87b11d, #008253, #3277b5, #4c549f, #764394, #ca0d86, #ef0fa6, #000;
        @each $c in $colors
        {
            &:nth-of-type(#{index($colors, $c)})
            {
                background-color: $c;
            }
        }

        &:last-of-type
        {
            h3
            {
                background: rgba(0, 0, 0, 0.2);
                box-shadow: 0 1px 1px rgba(255, 255, 255, 0.1);
            }

            &:after
            {
                @include mx_plb(absolute, 10px, 10px);
                content: '';
                width: 15px;
                height: 15px;
                border-radius: 50%;
                @include mx_gradient(-45deg, #ddd 0%, #58535e 48%, #889396 100%);
                @include mx_box-shadow(-1px -1px 1px rgba(0, 0, 0, 0.7), 1px 1px 1px rgba(255, 255, 255, 0.1));
            }
        }
    }

    /*开关样式*/
    .sb-toggle
    {
        display: block;
        padding: 5px;
    }

    /*图标*/
    .sb-icon
    {
        display: inline-block;
        font-size: 45px;
        line-height: 1;
        width: 45px;
        margin: 10px auto;
        background: rgba(0, 0, 0, 0.1);
    }
}