/*焦点图 panel*/
//引入
@import "jq/plugin/carousel";


#carousel
{
    .carousel
    {
        width: 90%;
        min-width: 6rem;
        margin: 0 auto;

        a
        {
            height: 6rem;
            position: relative;
            @extend .ani_loading;
            background-size: cover;
            background-position: center center;

            @for $i from 1 through 5
            {
                &:nth-of-type(#{$i})
                {
                    background-image: url(../img/#{$i}.jpg);
                }
            }
        }

        &.vertical
        {
            height: 6rem;;
        }
    }

    @at-root
    {
        #img_car
        {
            width: 90%;
            min-width: 6rem;
            margin: 0 auto;

            img
            {
                width: 100%;
            }
        }
    }
}