/*焦点图 panel*/
//引入
@import "jq/plugin/carousel";


#carousel
{
    .carousel
    {
        width: 90%;
        min-width: 6rem;
        margin: 0 auto;

        a
        {
            height: 6rem;
            position: relative;
            @extend .ani_loading;
        }

        &.vertical
        {
            height: 6rem;;
        }
    }

    @at-root
    {
        #img_car
        {
            width: 90%;
            margin: 0 auto;

            img
            {
                width: 100%;
            }
        }
    }
}