/*图片裁切 panel*/
//引入
@import "jq/plugin/piccut";


#piccut
{
    .avator_up
    {
        width: 6.4rem;
        height: 6.4rem;
        margin: 10px auto;
    }

    @at-root
    {
        #file
        {
            width: 200px;
        }


        #shower
        {
            max-width: 6.4rem;
            display: block;
            margin: 10px auto;
        }
    }
}