/*相册 panel*/
//引入
@import "jq/plugin/picpager";


#picpager
{
    height: 100%;
    overflow: hidden;

    .info
    {
        @extend %ph_palt;
        top: $head-height;
        width: 100%;
        background: rgba(0, 0, 0, 0.5);
        z-index: 1;
        color: #fff;
        padding-bottom: 0.1rem;
    }

    .picpager
    {
        @extend %ph_full;
    }
}