/*分享 panel*/

/*分享图标*/
.icon_share
{
    text-align: center;
    /*a标签间隔为0*/
    font-size: 0;

    $height: 1rem;
    a
    {
        display: inline-block;
        width: $height;
        height: $height;
        vertical-align: middle;
        border-radius: 20%;
        margin: 0.16rem;
        position: relative;

        &:after
        {
            content: '';
            @extend %ph_pafull;
            background: url(../img/icon_share.png);
            background-size: auto 100%;
            border-radius: 20%;
        }

        &.focus
        {
            background: #000;

            &:after
            {
                opacity: 0.5;
            }
        }
    }

    $providers: weibosina, qq, renren, tieba, tqq, douban, kaixin001, netease;
    @each $provider in $providers
    {
        .#{$provider}:after
        {
            background-position: #{ -$height * (index($providers, $provider) - 1)} 0;
        }
    }
}