/*转盘抽奖 panel*/
//引入
@import "jq/plugin/turntable";


#turntable
{
    .turntable
    {
        width: 6.4rem;
        height: 6.4rem;
        margin: 10px auto;
        background-image: url(../img/bg.png);

        .pi-pointer
        {
            background-image: url(../img/pointer.png);
        }
    }

    .btn_start
    {
        $w: 1.3rem;
        $h: 1.3rem;

        @include mx_plt($left: 50%, $top: 50%);
        width: $w;
        height: $h;
        margin-left: -$w / 2;
        margin-top: -$h / 2;
        background: url(../img/start.png) center center;
        background-size: cover;
        z-index: 1;

        &.focus
        {
            opacity: 0.85;
        }
    }
}