@import "jq/plugin/alert";

/*ui panel*/
#ui
{
    h3
    {
        text-indent: 0.2rem;
    }

    .list > div
    {
        display: inline-block;
        width: 2rem;
        height: 2rem;
        position: relative;
        border: 1px solid $border-color;
        margin: 0.1rem;

        &:after
        {
            content: attr(class);
            display: block;
            @extend .center;
        }
    }
}