/*ui panel*/
#ui
{
    h3
    {
        text-indent: 20px;
    }

    .list > div
    {
        display: inline-block;
        width: 200px;
        height: 200px;
        position: relative;
        border: 1px solid #eee;
        margin: 10px;

        &:after
        {
            content: attr(class);
            display: block;
            @extend .center;
        }
    }
}