/*
ui/base
移动端基础样式
包括样式重置,常用类等
*/

//默认变量
$root-font-size: 100px !default;
$font-size: 0.28rem !default;
$color: #333 !default;
$line-height: 1.5 !default;
$color-focus: #df2221 !default;
//面板背景
$panel-bgcolor: #fff !default;
$duration: 0.3s !default;

//引入
@import "../scss/var";
@import "scss/ani/ani_spinner";

html
{
    font-size: $root-font-size;
}


/*元素*/
*, *:before, *:after
{
    margin: 0;
    padding: 0;
    /*将元素的padding,border也纳入宽度,相当于IE5的盒子模型*/
    box-sizing: border-box;
    /*不使用占位符生成css代码,是避免多一次选择器的匹配*/
}


body
{
    /*加背景色可减缓页面闪烁*/
    background-color: $panel-bgcolor;
    overflow-x: hidden;
    /*可继承*/
    color: $color;
    line-height: $line-height;
    font-size: $font-size;
    font-family: arial, helvetica, sans-serif;
    -webkit-text-size-adjust: none;
    /*禁止选中文本*/
    user-select: none;
    /*部分浏览器点选时会有淡蓝色框,这样可以去掉*/
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    /*禁止保存图片*/
    -webkit-touch-callout: none;
    /*滚动平滑*/
    -webkit-overflow-scrolling: touch;
}


input, textarea, select
{
    font-size: inherit;
}


input, textarea
{
    user-select: text;
}


input, select
{
    height: 0.64rem;
    text-indent: 0.1rem;
}


textarea
{
    padding: 0.1rem;
}


img, input
{
    vertical-align: middle;
}


img
{
    border: none;
}


a
{
    outline: none;
    color: inherit;
    text-decoration: none;
    cursor: pointer;
}


a.focus
{
    color: $color-focus;
}


li
{
    list-style: none;
}


i
{
    font-style: normal;
}


/*h类标签*/
$hx: (h1: 1.45em, h2: 1.3em, h3: 1.15em, h4: 1em);
@each $h, $size in $hx
{
    #{$h}
    {
        font-size: $size;
    }
}


/*类*/
/*btn*/
.btn
{
    $c: #333;

    display: inline-block;
    font-size: 0.32rem;
    line-height: 2;
    min-width: 5.5em;
    padding: 0 1.25em;
    border-radius: 0.4em;
    @extend .center;
    border: 1px solid rgba(#000, 0.3);
    background-color: #f8f8f8;
    /*固定颜色*/
    color: $c;

    &.focus
    {
        background-color: #eee;
    }
}


/*隐藏*/
.hide
{
    display: none !important;
}


/*显示*/
.show
{
    display: block !important;
}


.fade-out, .fade-in
{
    @extend .transition;
    transition-property: opacity, visibility;
}


/*渐隐*/
.fade-out
{
    visibility: hidden !important;
    opacity: 0 !important;
}


/*渐显*/
.fade-in
{
    visibility: visible !important;
    opacity: 1 !important;
}


/*float*/
.fl
{
    float: left;
}


.fr
{
    float: right;
}


/*居中*/
.center
{
    text-align: center;
}


/*动画*/
.transition
{
    transition: all $duration ease;
}


.transform
{
    transition: transform $duration ease;
}


.notrans
{
    transition: none !important;
}


/*非常高的高度*/
.very-high
{
    height: 9999px;
}


/*mainbox*/
#mainbox
{
    @extend %ph_pafull;
    overflow: hidden;
}


/*loading*/
#loading
{
    @extend %ph_pafull;
    background-color: $panel-bgcolor;
    z-index: 5;
    /*防止点击事件绑定不到(ios8)*/
    cursor: pointer;
    @extend .transition;
    transition-property: background-color, visibility;
    @extend %ph_center;
    @extend .ani_spinner;

    .loaded &
    {
        visibility: hidden;
        background-color: transparent;

        &:before, &:after
        {
            opacity: 0;
        }
    }

    .onsidebox &
    {
        visibility: visible;
        background-color: rgba(0, 0, 0, 0.7);
    }

    &:after
    {
        display: block;
        padding-top: 1.2rem;
        content: '拼命加载...';
        font-size: 0.2rem;
    }
}


/*二维码*/
#qrcode
{
    @include mx_prt(fixed, 10px, 90px);
    width: 200px;
    height: 200px;
}


/*mask*/
.onmask
{
    @include ani_spinner($dc: #fff);

    &:before
    {
        z-index: 10000;
        position: fixed;
    }

    &:after
    {
        content: '';
        @extend %ph_pffull;
        background-color: rgba(0, 0, 0, 0.3);
        z-index: 9999;
    }
}


//@media screen and(min-width: 641px) {
//    html
//    {
//        font-size: 50px;
//    }
//}