/*
移动端基础样式
包括样式重置,常用类等
*/
//引入
@import '../scss/var', '../scss/spinner';


/*元素*/
*:focus
{
    outline: none;
}


*, *:before, *:after
{
    margin: 0;
    padding: 0;
    @extend %ph_border-box; /*将元素的padding,border也纳入宽度,相当于IE5的盒子模型*/
}


body
{
    background-color: $panel_bgcolor; /*加背景色可减缓页面闪烁*/
    overflow-x: hidden;
    /*可继承*/
    color: $color;
    line-height: 1.5em;
    font-size: $font-size;
    -webkit-text-size-adjust: none;
    @include mx_user-select(none); /*禁止选中文本*/
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0); /*部分浏览器点选时会有淡蓝色框,这样可以去掉*/
    -webkit-touch-callout: none; /*禁止保存图片*/
}


input, textarea
{
    @include mx_user-select(text);
    color: $color;
}


img, input
{
    vertical-align: middle;
}


img
{
    border: none;
}


a
{
    outline: none;
    color: $color;
    text-decoration: none;
    cursor: pointer;
}


a.focus
{
    color: $color_focus;
}


li
{
    list-style: none;
}


i
{
    font-style: normal;
}


/*h类标签*/
$hx: (h1: 1.45em, h2: 1.3em, h3: 1.15em, h4: 1em);
@each $h, $size in $hx
{
    #{$h}
    {
        font-size: $size;
    }
}


/*类*/
/*btn*/
.btn
{
    display: inline-block;
    line-height: 2em;
    min-width: 5.5em;
    padding: 0 1.25em;
    border-radius: 0.5em;
    font-size: 1.15em;
    text-align: center;
    @include mx_box-shadow(0 0 1px rgba(0, 0, 0, 0.9));
    background-color: #f8f8f8;

    &.focus
    {
        background-color: #eee;
    }
}


/*隐藏*/
.hidden
{
    display: none !important;
}


/*显示*/
.show
{
    display: block !important;
}


.fade-out, .fade-in
{
    @extend %ph_transall;
}


/*渐隐*/
.fade-out
{
    visibility: hidden !important;
    opacity: 0 !important;
}


/*渐显*/
.fade-in
{
    visibility: visible !important;
    opacity: 1 !important;
}


/*float*/
.fl
{
    float: left;
}


.fr
{
    float: right;
}


/*居中*/
.center
{
    text-align: center;
}


/*定位*/
.absolute
{
    @extend %ph_palt;
}


.fixed
{
    @extend %ph_pflt;
}


/*动画*/
.transition
{
    @extend %ph_transall;
}


.transform
{
    @extend %ph_transtransf;
}


.notrans
{
    @include mx_transition(none !important);
}


/*滚动*/
.ofauto
{
    @extend %ph_ofauto;
}


/*非常高的高度*/
.very-high
{
    height: 9999px;
}


/*mainbox*/
#mainbox
{
    @extend %ph_palt;
    @extend %ph_full;
    overflow: hidden;
}


/*loading*/
#loading
{
    @extend %ph_palt;
    @extend %ph_full;
    background-color: $panel_bgcolor;
    z-index: 5;
    cursor: pointer; /*防止点击事件绑定不到(ios8)*/
    @extend %ph_transall;
    //@include mx_transition(background-color 0.3s ease);
    @extend %ph_center;

    .loaded &
    {
        visibility: hidden;
        background-color: transparent;

        & > i, &:after
        {
            visibility: hidden;
        }
    }

    .onsidebox &
    {
        visibility: visible;
        background-color: rgba(0, 0, 0, 0.7);
    }

    &:after
    {
        content: '加载中...';
    }
}


/*二维码*/
#qrcode
{
    @include mx_prt(fixed, 10px, $head_height + 10px);
    width: 200px;
    height: 200px;
}


/*mask*/
#mask
{
    @extend %ph_pflt;
    @extend %ph_full;
    z-index: 9999;
    background-color: rgba(0, 0, 0, 0.3);
    visibility: hidden;
    opacity: 0;
    @extend %ph_center;

    &.visible
    {
        visibility: visible;
        opacity: 1;
    }
}