/*
body可滚动的页面
样式复写
*/

#mainbox
{
    overflow: visible;

    .onsidebox &
    {
        overflow: hidden;
    }

    .reflow
    {
        height: 99999px;
    }
}


.panel
{
    height: auto;
    min-height: 100%;
    overflow: visible;
}