/*
body可滚动的页面
样式复写
*/

#mainbox
{
    overflow: visible;

    .onsidebox &
    {
        overflow: hidden;
    }

    /*避免页面不够高,挡不住tohide页面*/
    .reflow
    {
        height: 99999px;
    }
}


.panel
{
    height: auto;
    min-height: 100%;
    overflow: visible;
}