/*
ui/ui
移动端界面样式
包含面板,导航,边栏等样式
*/

//默认变量
//布局
$head-height: 40px !default;
$navbar-height: 50px !default;
//默认为1:纯色背景,2:渐变背景
$bg-type: 1 !default;
//导航条背景
$head-bgcolor: rgba(255, 255, 255, 0.9) !default;
$head-bg: #006c1a 0%, #04990e 100% !default;
//边框颜色
$head-border-color: rgba(128, 128, 128, 0.5) !default;

//引入
@import "../scss/iconmoon";
@import "../plugin/scroll";

/*重排类*/
.reflow
{
    padding-bottom: 1px !important;
}


/*head导航条背景*/
.head, #navbar
{
    @if $bg-type == 1
    {
        background-color: $head-bgcolor;
    } @else
    {
        @include mx_gradient(top, $head-bg);
    }
}


/*head类*/
.head
{
    @extend %ph_palt;
    height: $head-height;
    line-height: $head-height;
    width: 100%;
    z-index: 1;

    /*模拟1px边框*/
    &:after
    {
        content: '';
        @extend %ph_palb;
        width: 100%;
        height: 1px;
        background-color: $head-border-color;
        @include mx_transform(scale3d(1, 0.5, 1));
        @include mx_transform-origin(50% 100%);
    }

    .btnleft, .btnright
    {
        z-index: 2;
        padding: 0 8px;
        height: 100%;
    }

    .btnleft
    {
        @extend %ph_palt;
    }

    .btnright
    {
        @extend %ph_part;

        &:before
        {
            font-size: 24px;
            vertical-align: sub;
        }
    }

    /*返回按钮类*/
    .btnback
    {
        font-size: 16px;
        padding-left: 4px;

        &:before
        {
            font-size: 20px;
            vertical-align: sub;
        }
    }

    .title
    {
        text-align: center;
    }
}


/*mainbox*/
#mainbox
{
    @extend .transform;

    .onsidebox &
    {
        @include mx_transform(translate3d(-50%, 0, 0));
    }
}


/*边栏*/
#sidebox
{
    @extend %ph_pfrt;
    height: 100%;
    width: 80%;
    background-color: $panel-bgcolor;
    z-index: 9;
    @include mx_transform(translate3d(100%, 0, 0));
    @extend .transform;

    .content
    {
        height: 100%;
        padding-top: $head-height;
    }

    .onsidebox &
    {
        @include mx_transform(translate3d(0, 0, 0));
        @include mx_box-shadow(-4px 0 8px rgba(0, 0, 0, 0.2));
    }
}


/*头部*/
#header
{
    @extend .transform;

    & > div
    {
        @extend %ph_pafull;
        @extend .transition;
    }

    .offheader &
    {
        @include mx_transform(translate3d(0, -100%, 0));
    }
}


/*一级页面标题*/
.roottitle
{
    .onsubtitle &
    {
        opacity: 0;
        z-index: -1;
    }
}


/*二级页面标题*/
.subtitle
{
    opacity: 0;
    z-index: -1;
    overflow: hidden;

    .btnleft
    {
        @include mx_transform(translate3d(100vw, 0, 0));
    }

    .onsubtitle &
    {
        opacity: 1;
        z-index: auto;

        .btnleft
        {
            @include mx_transform(translate3d(0, 0, 0));
        }
    }
}


/*面板*/
.panel
{
    /*二级面板会出现横向滚动条的bug,可以通过对二级面板的重排来解决,比如显示面板时,padding-bottom的值的改变*/

    @extend %ph_pafull;
    @extend %ph_ofauto;
    padding-top: $head-height;
    display: none;
    background-color: $panel-bgcolor;
    @extend .transform;
    @include mx_transform(translate3d(100%, 0, 0));
    @include mx_box-shadow(-4px 0 8px rgba(0, 0, 0, 0.2));

    &[data-role=root]
    {
        padding-bottom: $navbar-height;
    }

    &.subopened
    {
        @include mx_transform(translate3d(-40%, 0, 0));
    }

    &.opened
    {
        @include mx_transform(translate3d(0, 0, 0));
        //@include mx_box-shadow(-2px 0 5px rgba(0, 0, 0, 0.4));
    }

    .offheader &
    {
        padding-top: 0;
    }
}


/*打开iframe页面的面板*/
#paneliframe
{
    height: 100%;

    iframe
    {
        width: 100%;
        height: 100%;
        border: none;
    }
}


/*导航*/
#navbar
{
    /*safari中,在滚动页面隐藏工具栏的情况下,点击屏幕下方bottom:约50px以内的范围内,都会触发显示工具栏操作,而导致点击失效,必须点第二次*/
    @extend %ph_palb;
    width: 100%;
    height: $navbar-height;
    z-index: 1;
    text-align: center;
    @extend .transform;

    /*模拟1px边框*/
    &:after
    {
        content: '';
        @extend %ph_palt;
        width: 100%;
        height: 1px;
        background-color: $head-border-color;
        @include mx_transform(scale3d(1, 0.5, 1));
        @include mx_transform-origin(50% 0);
    }

    .offnavbar > &
    {
        @include mx_transform(translate3d(0, 100%, 0));
    }

    .navbox
    {
        overflow: hidden;
        height: 100%;
        max-width: 100%;
        display: inline-block;
    }

    .navlist
    {
        display: table;
        height: 100%;
        white-space: nowrap;
        line-height: 1.1em;

        a
        {
            @extend %ph_td;
            padding: 0 5px;
        }
    }
}