/*
ui/ui
移动端界面样式
包含面板,导航,边栏等样式
*/

//默认变量
//布局
$head-height: 0.8rem !default;
$navbar-height: 1rem !default;
//默认为1:纯色背景,2:渐变背景
$bg-type: 1 !default;
//导航条背景
$head-bgcolor: rgba(255, 255, 255, 0.9) !default;
$head-bg: #006c1a 0%, #04990e 100% !default;
//边框颜色
$head-border-color: rgba(128, 128, 128, 0.5) !default;
//颜色
$head-color: $color !default;

//引入
@import "../plugin/scroll";

/*重排类*/
.reflow
{
    padding-bottom: 1px !important;
}


/*左阴影*/
.left-sd
{
    /*outline会导致下边框问题*/
    //outline: 4px solid rgba(0, 0, 0, 0.1);
    //border-left: 2px solid rgba(#000, 0.2);
    /*box-shadow对安卓动画性能影响太明显*/
    box-shadow: -0.1rem 0 0.06rem -0.06rem rgba(0, 0, 0, 0.2);
}


/*head导航条背景*/
.head, #navbar
{
    overflow: hidden;

    @if $bg-type == 1
    {
        background-color: $head-bgcolor;
    } @else
    {
        background: linear-gradient(to bottom, $head-bg);
    }
}


/*head类*/
.head
{
    @extend %ph_palt;
    height: $head-height;
    line-height: $head-height;
    right: 0;
    z-index: 1;
    color: $head-color;
    border-bottom: 1px solid $head-border-color;

    .btnleft, .btnright
    {
        z-index: 2;
        padding: 0 0.6em;
        height: 100%;
        font-size: 0.32rem;
    }

    .btnleft
    {
        @extend %ph_palt;
    }

    .btnright
    {
        @extend %ph_part;
    }

    /*返回按钮*/
    .btnback
    {
        padding-left: 0.44rem;

        &:before
        {
            $w: 0.28rem;

            content: '';
            @include mx_plt($left: $w, $top: 50%);
            margin-top: -$w / 2;
            @include mx_left-arrow($width: $w, $color: $head-color, $line-width: 2px);
        }

        &.focus:before
        {
            box-shadow: -2px -2px 0 $color-focus;
        }
    }

    /*菜单按钮*/
    .btnmenu
    {
        width: 2.5em;
        padding: 0.6em;
        background: linear-gradient($color 2px, transparent 0%) left 0.8em;
        background-size: 100% 20%;
        background-clip: content-box;

        &.focus
        {
            background-image: linear-gradient($color-focus 2px, transparent 0%);
        }
    }

    .title
    {
        text-align: center;
    }
}


/*mainbox*/
#mainbox
{
    @extend .transform;

    .onsidebox &
    {
        transform: translate3d(-50%, 0, 0);
    }
}


/*边栏*/
#sidebox
{
    /*必须fixed定位,absolute在qq浏览器中有bug(横向滚动条)*/
    @extend %ph_pfrt;
    height: 100%;
    width: 80%;
    background-color: $panel-bgcolor;
    z-index: 9;
    transform: translate3d(100%, 0, 0);
    @extend .transform;

    .content
    {
        height: 100%;
        padding-top: $head-height;
    }

    .onsidebox &
    {
        transform: translate3d(0, 0, 0);
        @extend .left-sd;
    }
}


/*头部*/
#header
{
    @extend .transition;

    .offheader &
    {
        //兼容性不太好
        //transform:translate3d(0, -100%, 0);
        @extend %ph_hidden;
    }

    .roottitle, .subtitle
    {
        @extend %ph_pafull;
        @extend .transition;
        overflow: hidden;
    }

    /*二级页面标题*/
    .subtitle
    {
        @extend %ph_hidden;
    }

    /*显示二级页面标题*/
    &.onsubtitle
    {
        .roottitle
        {
            @extend %ph_hidden;
        }

        .subtitle
        {
            @extend %ph_visible;
        }
    }
}


/*面板*/
.panel
{
    /*二级面板会出现横向滚动条的bug,可以通过对二级面板的重排来解决,比如显示面板时,padding-bottom的值的改变*/
    @extend %ph_palt;
    right: 0;
    height: 100%;
    @extend %ph_ofauto;
    padding-top: $head-height;
    display: none;
    @extend .transform;
    transform: translate3d(100%, 0, 0);
    background-color: $panel-bgcolor;
    @extend .left-sd;

    &[data-role=root]
    {
        padding-bottom: $navbar-height;
    }

    &.subopened
    {
        transform: translate3d(-40%, 0, 0);
    }

    &.opened
    {
        transform: translate3d(0, 0, 0);
    }

    .offheader &
    {
        padding-top: 0;
    }
}


/*打开iframe页面的面板*/
#paneliframe
{
    height: 100%;

    iframe
    {
        @extend %ph_full;
        border: none;
    }
}


/*导航*/
#navbar
{
    /*safari中,在滚动页面隐藏工具栏的情况下,点击屏幕下方bottom:约50px以内的范围内,都会触发显示工具栏操作,而导致点击失效,必须点第二次*/
    @extend %ph_palb;
    right: 0;
    height: $navbar-height;
    z-index: 1;
    @extend .center;
    border-top: 1px solid $head-border-color;
    @extend .transition;

    .offnavbar > &
    {
        @extend %ph_hidden;
    }

    .navbox
    {
        overflow: hidden;
        height: 100%;
        max-width: 100%;
        display: inline-block;
    }

    .navlist
    {
        display: table;
        height: 100%;
        white-space: nowrap;
        line-height: 1.1;

        a
        {
            @extend %ph_td;
        }
    }
}